.cartBG {
    width: 100%;
    background: transparent;
}
.cartF1 {
    padding: 0.1vw 0;
    border-bottom: 1px solid black;
}
.cartF1-1 {
    padding: 0.4vw 1vw;
    font-weight: 500;
}
.cartF2 {
    margin: 0px 0.7vw;
}
.cartF2Flex {
    display: flex;
    padding: 0.5vw 0;
}
.cartF2Flex>div {
    width: 50%;
}
.cartF2-1 {
    border-bottom: 1px solid green;
}
.cartF2Flex1 {
    text-align: end;
}
.cartF2text {
    color: green;
    font-weight: 500;
}
.cartF2text2 {
    color: green;
    font-weight: 500;
    padding: 0.5vw 0;
}
.cartInfoContainer {
    width: 60%;
    justify-items: center;
    flex-direction: column;
    padding: 0 3%;
    border-radius: 10px;
    border-left: 1px solid black;
}
.cartInnerMain {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cartInnerMain::-webkit-scrollbar {
    display: none;
}
.cartItems {
    margin-bottom: 2%;
}
.cartMainContainer {
    width: 85%;
    margin: 1%;
    background-color: transparent;
}
.cartMainLeft {
    width: 74%;
    background-color: white;
    flex-direction: column;
    background-color: transparent;
    margin: 1vw;
}
.cartMainLeft .cartItems {
    background-color: rgba(255, 255, 255, 0.605);
}
.cartProductContainer {
    margin: 1% 0%;
    display: flex;
    padding: 0.5vw 0;
}
.cartProductContainer * {
    font-size: 1.2vw
}
.cartProductContainer > div {
    width: 40%;
}
.cartProductContainer >  div:first-child {
    width: 60%;
}
.cartProductDelivery {
    width: 35%;
    padding: 1vw;
}
.cartProductImage {
    width: 100%;
    aspect-ratio: 1/1;
    transition: transform 0.5s ease;
}
.cartProductImage:hover {
    transform: scale(1.1);
}
.cartProductImage>img {
    max-width: 100%;
    max-height: 100%;
}
.cartProductImageContainer {
    padding: 2%;
    width: 30%;
    cursor: pointer;
    aspect-ratio: 1/1;
    align-self: center;
}
.cartProductMain {
    padding: 1vw 0vw;
    display: flex;
    flex-direction: column;
    width: 75%
}
.cartProductMain span {
    padding: 0;
}
.cartProductMain .quantityChip {
    height: 2.9vw;
    border-radius: 50%;
}
.handleCartButtons {
    display: flex;
    justify-content: space-between;
}
.handleCartButtons button {
    padding: 1vw 1vw;
    height: 2.6vw;
    min-width: 30px;
    font-size:1vw;
}
.placeOrder {
    justify-content: flex-end;
    height:3.6vw;
    box-shadow:0px -2px 4px -1px rgba(0,0,0,0.2), 0px -4px 5px 0px rgba(0,0,0,0.14), 0px -1px 10px 0px rgba(0,0,0,0.12);
    padding: 1%;
}
.placeOrder a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: green
}
.placeOrder a:hover {
color: greenyellow;
}
.placeOrder button {
    font-size: 1vw;
    padding: 0.5vw 4vw;
    color: rgb(255, 255, 255);
    background-color: rgb(219, 175, 0);
}
.placeOrder div {
    display: none;
}
.saveForLaterTitle{
    font-size: 1.5vw;
    font-weight: 600;
}
.sticky {
    width: 24%;
    background-color: transparent;
    max-height: 100%;
    position: sticky;
    display: block;
    top: 6.3vw;
    align-self: flex-start;
}
.sticky *{
    font-size: 1.2vw;
}
.stickyMobile {
    display: none;
    width: 100%;
    background-color: transparent;
    max-height: 100%;
    align-self: flex-start;
}

@media only screen and (max-width: 320px) {
    .cartProductContainer * {
        font-size: 3vw
    }
}

@media only screen and (max-width: 600px) {
    .cartF1 {
        padding: 0.3vw 0.9vw;
    }
    .cartF1-1 {
        padding: 0.7vw 1vw;
        font-weight: 500;
    }
    .cartF2 {
        margin: 0px 3vw;
    }
    .cartF2Flex {
        padding: 0.5vw 0;
    }
    .cartF2text2 {
        padding: 0.5vw 0;
    }
    .cartInnerMain {
        width: 100%;
    }
    .cartMainContainer {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
    .cartMainLeft {
        width: 100%;
    }
    .cartProductContainer {
        flex-direction: column;
        padding: 1vw 0;
    }
    .cartProductContainer * {
        font-size: 3.3vw
    }
    .cartProductContainer>div,
    .cartProductContainer>div:first-child
     {
        width: 100%;
    }
    .cartProductMain {
        padding: 1vw 1vw;
    }
    .cartProductMain span {
        padding: 0;
    }
    .cartProductMain .quantityChip {
        height: 8vw;
    }
    .handleCartButtons button {
        font-size: 2.8vw;
        padding: 1vw 1vw;
        height: 6vw;
    }
    .placeOrder{
        display: flex;
        justify-content: space-between;
        height: 13vw;
    }
    .placeOrder button {
        font-size: 3vw;
        padding: 1vw 8vw
    }
    .placeOrder > div {
        display: block;
        font-size: 2.5vw;
    }
    .placeOrder svg {
        font-size: 2.8vw;
    }
    .saveForLaterTitle{
        font-size: 4.2vw;
        font-weight: 600;
    }
    .sticky {
        display: none;
    }
    .stickyMobile {
        display: block;
    }
    .stickyMobile div {
        font-size: 2.9vw;
    }
}
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .cartInnerMain {
        width: 100%;
    }
    .cartMainContainer {
        margin: 0;
        width: 100%;
    }
    .cartMainLeft {
        width: 75%;
        margin: 1vw;
    }
    .cartProductContainer {
        padding: 0.5vw 0;
    }
    .cartProductContainer * {
        font-size: 1.7vw
    }
    .cartProductContainer > div {
        width: 40%;
    }
    .cartProductContainer >  div:first-child {
        width: 60%;
    }
    .cartProductMain {
        padding: 1vw 0;
    }
    .cartProductMain span {
        padding: 0;
    }
    .cartProductMain .quantityChip {
        height: 3.5vw;
        border-radius: 50%;
    }
    .handleCartButtons button {
        font-size: 1.5vw;
        padding: 1vw 1vw;
        height: 3.4vw;
        min-width: 30px;
    }
    .placeOrder{
        height: 8vw;
    }
    .placeOrder button {
        font-size: 1.8vw;
        padding: 1vw 5.5vw;
    }
    .placeOrder div {
        font-size: 1.8vw;
    }
    .placeOrder svg {
        font-size: 2.3vw;
    }
    .saveForLaterTitle{
        font-size: 2.5vw;
        font-weight: 600;
    }
    .sticky *{
        font-size: 1.4vw;
    }
    .sticky {
        top: 10.8vw;
    }
}