.cartProductImageContainer {
    padding: 2%;
    width: 20%;
    height: 100%;
    cursor: pointer;
    aspect-ratio: 2/0.6;
}

.cartProductImage {
    width: 100%;
}

.cartProductImage>img {
    max-width: 100%;
    max-height: 100%;
}

.cartBG {
    width: 100%;
    background-color: #80808054;
}

.cartMainContainer {
    width: 80%;
    margin: 1%;
    background-color: transparent;
}

.cartMainLeft {
    width: 74%;
    background-color: white;
    flex-direction: column;
    background-color: transparent;
}
.cartF1 {
    padding: 5px 0;
    border-bottom: 1px solid black;
}

.cartF1-1{
    padding: 2px 10px;
    font-weight: 500;
}

.cartF2 {
    margin: 0px 10px;
}

.cartF2Flex{
    display: flex;
    padding: 5px 0;
}

.cartF2Flex > div {
    width: 50%;
}

.cartF2-1{
    padding: 5px 5px;
    border-bottom: 1px solid green;
}

.cartF2Flex1 {
    text-align: end;
}

.cartF2text {
    color: green;
    font-weight: 500;
}

.cartF2text2 {
    color: green;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 5px;
}

.cartItems{
    margin-bottom: 2%;
    background-color: white;
}

.cartInnerMain::-webkit-scrollbar {
    display: none;
  }

.cartInnerMain{
    aspect-ratio: 1/0.5;
    overflow: scroll;
}

.placeOrder{
    justify-content: flex-end;
    padding: 1%;
    border-top: 1px solid black;
}

.cartInfoContainer {
    width: 60%;
    justify-items: center;
    flex-direction: column;
    padding: 0 3%;
    border-radius: 10px;
    border-left: 1px solid black;
}