* {
  box-sizing: border-box;
}

.prodFlex {
  flex-direction: row;
  background-color: white;
}

.mainProdImage {
  width: 19%;
}

.prodImage {
  padding: 1vw;
  align-self: flex-start;
  display: flex;
  width: 100%;
}

.prodFlexInner {
  width: 75%;
  padding: 0px 4vw;
}

.prodIn {
  width: 100%;
}

.prodIn1 {
  position: relative;
}

.prodIn2 {
  border-radius: 2px;
  border: none;
  display: block;
  position: relative;
}

.prodIn3 {
  text-align: center;
}

.prodIn4 {
  padding-top: 120%;
  width: 100%;
  position: relative;
  margin: 0px 10px;
}

.cartAdd1 {
  margin-top: 12px;
}

.cartAdd2 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.cartAdd3 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.prodFlexTitle {
  font-size: 4vw;
  font-weight: bold;
}

.rateFlex {
  display: flex;
  flex-direction: row;
}

.sellerInTag {
  font-weight: 500;
  width: 110px;
  padding-right: 10px;
  color: #878787;
  float: left;
}

.description {
  font-size: 14px;
  margin-top: 24px;
}

.descriptionMain {
  position: relative;
  margin-left: 110px;
  color: #212121;
}

.descript {
  max-height: none;
  margin-bottom: 8px;
  margin: 0 0 10px;
  line-height: 1.5em;
  overflow: hidden;
}

.descript p {
  margin-top: 0;
}

.productComments p > span:nth-of-type(1) {
  font-size: 1.8vw;
  color: rebeccapurple
}
.productComments .css-ryrseu-MuiRating-root {
  font-size: 1.8vw;
  color: rebeccapurple
}

@media only screen and (max-width: 450px) {

  .productComments p > span:nth-of-type(1) {
    font-size: 2.5vw;
  }
  .productComments .css-ryrseu-MuiRating-root {
    font-size: 2.5vw;
  }

  .description {
    font-size: 2.7vw;
    margin-top: 24px;
  }

  .rateFlex div:first-of-type {
    color: green;
  }

  .prodFlex div:nth-of-type(3) {
    font-size: 3.7vw;
  }

  .prodFlex {
    flex-direction: column;
  }

  .mainProdImage {
    width: 100%;
  }

  .mainProdImage button {
    font-size: 2.6vw;
    padding: 1vw 5vw;
  }

  .prodImage {
    padding: 20vw
  }

  .prodFlexInner {
    width: 100%;
    margin-top: 2vw;
  }

  .prodFlexTitle {
    font-size: 3.7vw;
    font-weight: bold;
  }

  .productComments p {
    font-size: 2.3vw;
  }

  .productComments p > span:nth-of-type(2) {
    font-size: 2.6vw;
  }


  .productComments div:first-of-type>div {
    font-size: 2.6vw;
    height: 6.5vw;
    width: 6.5vw;
  }

  .productComments div:first-of-type {
    min-width: 6vw;
    margin-right: 1vw;
  }
  .commentsTitle{
    font-size: 3.5vw
  }

  .commentsTitle + ul{
    padding-top: 1vw;
  }

  .prodFlexInner .productComments{
    padding: 2vw 1vw;
  }
}