._catList_001 {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

._catList_002 {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._catList_003 {
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
}

._catList_004 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 85%;
    padding: 10px;
}

._catList_005 {
    width: 18%;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
}