._order_001 {
    margin: 0 auto;
    padding: 6px 83px 0;
    position: relative;
}

._order_002 {
    display: flex;
}

._order_003 {
    padding: 24px;
}

._order_006 {
    height: 100px;
    position: relative;
    width: 100px;
}

._order_007 {
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

._order_008 {
    margin-left: 10px;
}

._order_009 {
    color: #2874f0;
    font-size: 25px;
    font-weight: 500;
}

._order_010 {
    font-weight: 500;
    margin-left: 5px;
}

._order_012 {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

._order_013 {
    font-size: 16px;
    font-weight: 500;
}

._order_014 {
    padding-top: 10px;
}

._order_016 {
    display: inline-block;
}

._order_017 {
    padding-bottom: 8px;
}

._order_018 {
    position: relative;
}

._order_020 {
    font-weight: 500;
}

._order_023 {
    display: inline;
    padding-left: 10px;
}

._order_024 {
    border-left: 1px solid #f0f0f0;
    position: relative;
}

._order_026 {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 20px 0;
}

._order_027 {
    height: 22px;
    padding-top: 2px;
    width: 22px;
}

._order_028 {
    margin-left: 15px;
}

._order_029 {
    color: #878787;
    font-size: 12px;
}

._order_030 {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    margin: 16px 0;
    padding: 0;
}

._order_031 {
    display: flex;
    position: relative;
}

._order_032 {
    display: flex;
    justify-content: center;
    position: relative;
}

._order_035 {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

._order_036 {
    border: none;
    box-shadow: none;
    color: #212121;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0;
}

._order_036:hover {
    color: #2874f0
}

._order_037 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
}

._order_038 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 5%;
}

._order_039 {
    padding: 5px;
    position: relative;
}

._order_041 {
    text-align: center;
}

._order_042 {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0;
}

._order_042C {
    color: #26a541;
}

._order_042T {
    color: #5656564c;
}

._order_043 {
    margin: 10px 0;
}

._order_044 {
    flex: 1;
    height: 3px;
}

._order_045 {
    /* background-color: #26a541; */
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
}

._order_cancelled {
    background-color: #ff6161;
}

._order_046 {
    background-color: #26a541;
}

._order_tobe {
    background-color: #5656564c;
}

._order_047 {
    color: #878787;
    font-size: 12px;
    font-weight: 500;
}

._order_069 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

._order_070 {
    margin-bottom: 10px;
    margin-top: -7px;
    min-height: 80px;
    padding: 2px 0;
}

._order_071 {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    min-height: 50px;
    padding-top: 5px;
}

._order_072 {
    font-size: 12px;
    font-weight: 500;
}

._order_074 {
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 24px;
}

._order_075 {
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .15);
    cursor: pointer;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    transition: box-shadow .1s linear;
    width: 100%;
}

._order_075:hover {
    box-shadow: 0 1px 12px 2px #dbdbdb;
    z-index: 1;
}

._order_078 {
    height: 75px;
    position: relative;
    width: 100%;
}

._order_079 {
    bottom: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

._order_080 {
    border: none;
    box-shadow: none;
    color: #212121;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0;
    text-decoration: none;
}

._order_082 {
    color: #212121;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 500;
}

._order_083 {
    color: #212121;
}

._order_084 {
    background-color: #26a541;
    border-radius: 50%;
    height: 10px;
    margin-right: 8px;
    width: 10px;
    /* // background-color:#ff6161 //if replacement                                        border; */
}

._order_085 {
    font-size: 14px;
    font-weight: 500;
}

._order_086 {
    font-size: 12px;
    margin-top: 8px;
}

._order_087 {
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 16px;
    padding: 10px 10px 6px;
}

._order_088 {
    color: #212121;
    font-weight: 500;
}

._order_089 {
    color: #26a541;
}

._order_090 {
    margin-left: 4px;
    margin-right: 4px;
}

._order_091 {
    font-size: 12px;
    padding-top: 8px;
}

._order_092 {
    font-size: 14px;
    margin: 5px 0 5px 15px;
}

._order_093 {
    color: #26a541;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0;
}

._order_094 {
    width: 100%;
}

._order_095 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 18px;
}

._order_096 {
    width: 250px;
}

._order_097 {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    height: max-content;
    line-height: 24px;
    padding-bottom: 8px;
}

._order_098 {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

._order_099 {
    border-top: 1px solid #f8f8f8;
    padding: 0 16px;
}

._order_100 {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
    text-transform: uppercase;
}

._order_103 {
    padding-left: 16px;
    width: 100%;
}

._order_104 {
    border-radius: 4px 0 0 4px;
    display: flex;
    margin-bottom: 16px;
    margin-right: 10%;
}

._order_105 {
    flex: 1;
    position: relative;
}

._order_106 {
    border: 1px solid #dbdbdb;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    height: 44px;
    padding: 8px;
    width: 100%;
    outline: none;
}

._order_107 {
    align-items: center;
    display: flex;
    text-transform: none;
}

._order_108 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

._order_109 {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    box-shadow: none;
    color: #2874f0;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

._order_110 {
    border-right: 1px solid #f0f0f0;
    padding: 4px 16px;
    width: fit-content;
    cursor: pointer;
    background-color: white;
    transition: box-shadow 0.2s linear;
    display: none;
}

._order_110:hover {
    box-shadow: 0 1px 12px 2px #dbdbdb;
    z-index: 1;
}

._order_111 {
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .15);
    cursor: pointer;
    display: block;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    transition: box-shadow .1s linear;
    width: 100%;
    padding: 4px 16px;
    margin-bottom: 5px;
    display: none;
}

._order_112:hover>span {
    text-decoration: line-through;
}

._order_111>._order_110:first-of-type {
    border-left: 1px solid #f0f0f0;

}

._order_113 {
    font-size: 14px;
    cursor: pointer;
}

._order_113:hover {
    color: #2874f0
}

.ripple01 {
    border-radius: 50%;
    position: relative;
}

.ripple01:before,
.ripple01:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0.5px solid #26a541;
    border-radius: 50%;

}

._order_115{
    display: block;
}
._order_116{
    display: block;
}

.ripple01:after {
    animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

._order_117{
    display: none;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    ._order_001{
        padding: 6px 0 0;
    }

    ._order_030 > ._order_031 {
        padding: 8px;
    }
    ._order_030 > ._order_031 > div{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 8px;
    }

    ._order_031 ._order_039 {
        width: 100%;
    }
    ._order_096 {
        display: none;
    }

    ._order_114 {
        display: none;
    }

    ._order_095 {
        margin: 10px 0 0 0
    }

    ._order_103 {
        padding: 0 16px;
    }

    ._order_111 {
        display: block;
    }

    ._order_110 {
        display: block;
    }

    ._order_110>div {
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    /* ._order_097 > div:nth-of-type(2){
        display: flex;
    } */
}

@media only screen and (max-width: 600px) {
    ._order_117 {
        display: flex;
    }
    ._order_116{
        display: flex;
    }

    ._order_115 {
        display: none;
    }

    ._order_039 > div {
        flex-direction: column;
    }
    ._order_107>span:last-of-type {
        display: none;
    }

    ._order_031 ._order_032{
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
        flex-direction: row-reverse;
    }

    ._order_041{
        width: auto;
        justify-content: center;
        height: 40px;
    }

    ._order_042{
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ._order_043{
        transform: rotate(90deg);
    }

    ._order_044{
        flex: none;
        width: 15px;
    }

    ._order_104>button {
        border-radius: 0;
    }

    ._order_110 {
        padding: 4px 8px;
        display: flex;
        align-items: center;
    }

    ._order_110>div {
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    ._order_104 {
        margin-right: 0;
    }

    ._order_103 {
        padding: 0;
    }

    ._order_075>._order_002 {
        display: block;
    }

    ._order_002>.w-1-3 {
        border-right: 1px solid #f0f0f0;
    }

    ._order_075>._order_002>div[class="w-2-5"] {
        width: 100%;
        margin-bottom: 10px;

        border-bottom: 1px solid #f0f0f0;
    }

    ._order_075>._order_002>._order_083,
    ._order_075>._order_002>._order_082 {
        width: 100%;
        text-align: left;
    }

    ._order_002>._order_083>div {
        display: flex;
        align-items: center;
    }

    ._order_083 ._order_086 {
        margin-top: 0;
        padding-left: 10px;
    }

    ._order_082 {
        padding-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
    }

    ._order_083 {
        /* border-top: 1px solid #f0f0f0; */
        /* padding-top: 10px; */
        margin-top: 10px;
    }
}