.wishListMainContainer {
    width: 75%;
}

.wishListMain .handleCartButtons {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wishListTitle {
    font-size: 1.5vw;
    font-weight: bold;
}
.wishListMain {
    width: 75%;
}

.wishListMain > div:first-of-type {
    width: 60%;
}
.wishListMain > div:nth-of-type(2) {
    width: 40%;
}
.wishListMainContainer .cartProductContainer > div:first-child {
    padding: 1vw;
    width: 100%;
    flex-direction: row;
}

@media only screen and (max-width: 450px) {
    .wishListMainContainer .cartProductContainer * {
        font-size: 3vw;
    }
    .wishListMainContainer {
        width: 100%;
    }
    .wishListMain > div {
        width: 100%;
    }
    .wishListMainContainer .cartProductContainer > div:first-child {
        width: 100%;
        flex-direction: column;
    }
    .wishListMain .handleCartButtons {
        justify-content: space-evenly;
    }
    .wishListMain .handleCartButtons button {
        font-size: 2.4vw;
        padding: 1vw;
        height: 5vw;
    }
    .wishListTitle {
        font-size: 3.5vw;
        padding: 1vw;
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) and (min-width: 451px) {
    .wishListMainContainer {
        width: 85%;
    }
    .wishListMainContainer .cartProductContainer * {
        font-size: 2.3vw;
    }
    .wishListMain > div {
        width: 100%;
    }
    .wishListMainContainer .cartProductContainer > div:first-child {
        width: 100%;
        flex-direction: column;
    }
    .wishListMain .handleCartButtons {
        justify-content: space-evenly;
    }
    .wishListMain .handleCartButtons button {
        font-size: 1.9vw;
        padding: 0.5vw 2vw;
        height: 4vw;
    }
    .wishListTitle {
        font-size: 2.5vw;
        padding: 1vw;
        font-weight: bold;
    }
}
