._home_001 {
    margin: 0 auto;
    padding: 8px;
    position: relative;
    width: 100%;
}

._home_002 {
    display: flex;
    flex-flow: row;
}

._home_003 {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0 10px 0 0;
    width: 16.66%;
}

._home_004 {
    flex-grow: 1;
    overflow: auto;
}

._home_007 {
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
    position: relative;
}

._home_008 {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    padding: 16px
}

._home_009 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    width: 66.66%;
}

._home_010 {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
    position: relative
}

._home_011 {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    width: 95%;
}

._home_012 {
    margin: 7px 0;
}

._home_013 {
    align-items: flex-end;
    background-color: white;
    width: 100%
}

._home_014 {
    display: block;
    flex-grow: 1;
    overflow: auto;
}

._home_015 {
    border-bottom: 1px solid #f0f0f0;
    height: 100%;
    padding: 12px 16px 0;
}

._home_016 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

._home_017 {
    display: flex;
}

._home_018 {
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 8px 10px 4px 0
}

._home_019 {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    padding: 8px 10px 4px 0;
}

._home_020 {
    display: flex;
    flex-flow: column;
}

._home_021 {
    background-color: white;
    border-top: 1px solid #f0f0f0;
    line-height: 32px;
    padding: 10px;
    width: 100%;
}

._home_021 > nav> ul {
    flex-wrap: nowrap;
}

._home_022 {
    display: inline-block;
    height: 100%;
    width: 1px;
}

._home_023 {
    align-items: stretch;
    background: #fff;
    display: flex;
}

._home_024 {
    border-bottom: 1px solid #f0f0f0;
    display: block;
    line-height: 1;
    padding: 24px 0 30px 24px;
    position: relative;
    transition: box-shadow .2s ease-in-out;
}

._home_024:hover {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);
}

._home_025 {
    cursor: pointer;
    display: flex;
    position: relative
}

._home_026 {
    position: relative;
    width: 200px;
}

._home_027 {
    display: block;
    position: relative;
}

._home_028 {
    height: 200px;
    margin: 0 auto;
    position: relative;
    width: 200px;
}

._home_029 {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
}

._home_030 {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 2px;
}

._home_031 {
    display: inline-flex;
    position: relative;
}

._home_032 {
    padding-left: 25px;
    width: calc(100% - 200px);
}

._home_033 {
    display: inline-block;
    vertical-align: top;
    width: 58.33%;
}

._home_034 {
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

._home_024:hover ._home_034 {
    color: #2874f0;
}

._home_035 {
    margin-top: 6px;
}

._home_036 {
    position: relative;
}

._home_037 {
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    padding: 2px 4px 2px 6px;
    vertical-align: middle
}

._home_038 {
    margin-top: 13px;
}

._home_039 {
    color: #212121;
    margin-top: 5px;
}

._home_040 {
    display: inline-block;
    padding-left: 25px;
    vertical-align: top;
    width: 41.66%;
}

._home_041 {
    display: inline-block;
    margin-top: -1px;
    padding-right: 10px
}

._home_042 {
    color: #212121;
    display: block;
    font-size: 25px;
    font-weight: 500;
}

._home_043 {
    color: #878787;
    display: inline-block;
    font-size: 14px;
    margin-left: 0;
    padding-top: 10px;
    text-decoration: line-through;
}

._home_044 {
    color: #388e3c;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-left: 8px
}

._home_045 {
    display: inline-block;
    font-size: 0;
    padding-bottom: 4px;
    vertical-align: top;
}

@media only screen and (max-width: 900px) {
    ._home_003 {
        display: none;
    }

    ._home_015 > ._order_110 {
        border: 1px solid #f0f0f0;
    }
}

@media only screen and (max-width: 600px) {
    ._home_020 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    ._home_004>.w-1-1 {
        width: 50%;
        background-color: white;
        border: 1px solid #f0f0f0;
        border-bottom: none;
        border-left: none;
    }

    ._home_024 {
        border: none;
        padding: 12px 12px 12px 12px;
    }

    ._home_025 {
        display: block;
    }

    ._home_026 {
        width: 100%;
    }

    ._home_028 {
        width: auto;
    }

    ._home_032 {
        width: 100%;
        padding-left: 0;
    }

    ._home_033 {
        display: block;
        width: 100%;
    }

    ._home_040 {
        padding: 0;

        width: 100%;
        margin-top: 10px;
    }

    ._home_038 {
        margin-top: 6px;
        font-size: 12px;
    }

    ._home_041 {
        /* display: block; */
        width: 100%;
        padding-bottom: 10px;
    }

    ._home_042, ._home_043, ._home_044 {
        display: inline-block;
    }

    ._home_042 {
        font-size: 18px;
    }


    ._home_043 {
        padding: 0;
        padding-left: 5px;
    }

    .pagination {
        width: 100%;
    }

    ._home_021 {
        width: 100%;
        justify-content: center;
    }

    ._home_021 > span:first-of-type {
        display: none;
    }

    ._home_017 {
        display: none;
    }

}