._home_001 {
    margin: 0 auto;
    padding: 8px;
    width: 100%;
    position: relative;
}

._home_002 {
    display: flex;
    flex-flow: row;
}

._home_003 {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0 10px 0 0;
    width: 16.66%
}

._home_004 {
    flex-grow: 1;
    overflow: auto;
}

._home_007 {
    position: relative;
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06)
}

._home_008 {
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    padding: 16px
}

._home_009 {
    font-size: 18px;
    text-transform: capitalize;
    width: 67%;
    font-weight: 500;
    letter-spacing: 0.3px;
    display: inline-block
}

._home_010 {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    position: relative
}

._home_011 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    display: inline-block;
    width: 95%
}

._home_012 {
    margin: 7px 0;
}

._home_013 {
    background-color: white;
    align-items: flex-end;
    width: 100%
}

._home_014 {
    flex-grow: 1;
    overflow: auto;
    display: block;
}

._home_015 {
    padding: 12px 16px 0;
    border-bottom: 1px solid #f0f0f0;
    height: 100%
}

._home_016 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    display: inline-block
}

._home_017 {
    display: flex;
}

._home_018 {
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 8px 10px 4px 0
}

._home_019 {
    padding: 8px 10px 4px 0;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block
}

._home_020 {
    display: flex;
    flex-flow: column;
}

._home_021 {
    background-color: white;
    border-top: 1px solid #f0f0f0;
    padding: 10px;
    line-height: 32px
}

._home_022 {
    height: 100%;
    width: 1px;
    display: inline-block
}

._home_023 {
    align-items: stretch;
    display: flex;
    background: #fff;
}

._home_024 {
    line-height: 1;
    padding: 24px 0 30px 24px;
    display: block;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

._home_025 {
    cursor: pointer;
    display: flex;
    position: relative
}

._home_026 {
    position: relative;
    width: 200px;
}

._home_027 {
    display: block;
    position: relative;
}

._home_028 {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto
}

._home_029 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%
}

._home_030 {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: -8px;
    cursor: pointer
}

._home_031 {
    position: relative;
    display: inline-flex
}

._home_032 {
    width: calc(100% - 200px);
    padding-left: 25px
}

._home_033 {
    width: 58.33%;
    display: inline-block;
    vertical-align: top
}

._home_034 {
    color: #2874f0;
    font-weight: 500;
    font-size: 18px;
    display: block;
    cursor: pointer
}