.filterDesktopMedia {
    width: 19%;
    background-color: white;
    margin: 1% 0.5%;
    height: 100%;
}

.filterMobileMedia {
    display: none;
}

.filter-container {
    width: 100%;
    z-index: 0;
}

.filterComp .css-u4tvz2-MuiFormLabel-root,
.filterComp2 .css-u4tvz2-MuiFormLabel-root {
    font-size: 1.25vw;
}

.filterComp label span,
.filterComp2 label span {
    font-size: 1.1vw;
}

.filterComp label svg,
.filterComp2 label svg {
    font-size: 1.35vw;
}
.filterDivCont{
    margin: 3%;
}

@media only screen and (max-width: 768px) {
    .filterDesktopMedia {
        display: none;
    }

    .filterMobileMedia {
        display: block;
        width: 0;
    }
    .filter-container{
        width: 30vw;
    }

    .filterComp .css-u4tvz2-MuiFormLabel-root,
    .filterComp2 .css-u4tvz2-MuiFormLabel-root {
        font-size: 2.3vw;
    }

    .filterComp label span,
    .filterComp2 label span {
        font-size: 1.9vw;
    }

    .filterComp label svg,
    .filterComp2 label svg {
        font-size: 2.8vw;
    }
    .filterDivCont{
        margin-left:3.4vw;
    }
}