a:hover {
    color: #fff;
}

a {
    cursor: pointer;
}

.mainSearchDiv {
    position: absolute;
    z-index: 1;
    left: 3%;
    width: 100%;
}

.searchDiv{
    overflow: hidden;
    height: 70%;
    background-color: #1976d2
}


.bar .css-348fk2.Mui-focused{
    color: rgba(255, 255, 255, 0.859)
}
.bar label,
.bar label:focus {
    color: white
}
.bar .Mui-focused{
    color: #fff;
}

.bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
}

.bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
    color: white !important;
}

.bar .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: white;
}

.bar .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
}

.searchRes:hover{
    background-color: black;
}
