.check001 {
    align-items: center;
    display: flex;
}

._check_001 {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    /* min-height: 72px; */
}

._check_002 {
    display: flex;
}

._check_003 {
    border-radius: 2px 2px 0 0;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    padding: 0;
    text-transform: uppercase;
}

._check_004 {
    background-color: #f0f0f0;
    border-radius: 2px;
    color: #2874f0;
    font-size: 12px;
    margin-right: 17px;
    padding: 3px 7px;
    vertical-align: baseline;
}

._check_005 {
    display: inline-block;
}

._check_006 {
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    text-transform: uppercase;
}

._check_007 {
    font-size: 12px;
    margin-top: 6px;
    text-transform: capitalize;
}

._check_008 {
    color: #212121;
    font-weight: 500;
}

._check_009 {
    margin-left: 6px;
}

._check_010 {
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    /* min-height: 72px; */
}

._check_011 {
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    /* color: #fff;
    background-color: #2874f0; */
    margin-bottom: 0;
    padding: 14px 24px;
    text-transform: uppercase;
}

._check_012 {
    border-radius: 2px;
    color: #2874f0;
    font-size: 12px;
    margin-right: 17px;
    /* background-color: #fff; */
    padding: 3px 7px;
    position: relative;
    top: -2px;
    vertical-align: baseline;
}

._check_013 {
    position: relative;
}

._check_014 {
    background-color: white;
    margin-bottom: 10px;
}

._check_015 {
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    padding: 16px 24px;
    width: 100%;
}

._check_016 {
    display: inline-block;
    margin-left: 18px;
    width: 100%;
}

._check_017 {
    display: flex;
    width: 100%;
}

._check_018 {
    cursor: pointer;
    float: left;
    width: 75%;
}

._check_019 {
    line-height: 1.5;
    margin-bottom: 0;
}

._check_020 {
    font-size: 14px;
    font-weight: 500;
}

._check_021 {
    background-color: #f0f0f0;
    border-radius: 2px;
    color: #878787;
    font-size: 11px;
    font-weight: 500;
    margin: 0 0 0 11px;
    padding: 4px 7px;
    text-transform: uppercase;
    vertical-align: middle;
}

._check_022 {
    font-weight: 500;
    margin: 0 0 0 11px;
}

._check_023 {
    display: block;
    line-height: 1.5;
    margin-top: 10px;
}

._check_024 {
    font-weight: 500;
}

._check_025 {
    background: #fb641b;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    margin-top: 12px;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    width: 200px;
}

._check_026 {
    float: right;
    width: 25%;
}

._check_027 {
    background: none;
    border: 0;
    color: #2874f0;
    cursor: pointer;
    float: right;
    font-size: 14px;
    outline: none;
}

._check_028 {
    width: 80%;
}

._check_029 {
    color: #2874f0;
    font-weight: 500;
}

._check_030 {
    margin-top: 16px;
}

._check_031 {
    align-items: flex-start;
    display: flex;
    margin-bottom: 15px;
}

._check_032 {
    margin-right: 10px;
    position: relative;
    width: 50%;
}

._check_033 {
    margin-right: 10px;
    position: relative;
    width: 100%;
}

._check_031 label,
._check_034 label,
._check_040 label {
    z-index: 0;
}

._check_034 {
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
}

._check_035 {
    color: #878787;
    margin-bottom: 10px;
    font-size: 12px;
}

._check_036 {
    margin-bottom: 16px;
    width: 100%;
}

._check_037 {
    display: flex;
}

._check_038 {
    display: flex;
    margin-right: 32px;
}

._check_039 {
    display: inline-block;
    margin-left: 12px;
    width: auto;
}

._check_040 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

._check_041 {
    color: #fff;
    background: #fb641b;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    padding: 10px 20px;
    outline: none;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
}

._check_042 {
    background: none;
    border: 0;
    color: #2874f0;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-left: 20px;
    outline: none;
    /* display: inline-block; */
}

._check_043 {
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    color: #2874f0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 0;
}

._check_044 {
    margin-bottom: 10px;
}

._check_045 {
    background-color: white;
}

._check_046 {
    padding: 24px;
    padding-top: 0;
    position: relative;
}

._check_046 > .cartElementMain:first-of-type {
    border: none;
}

._check_046:last-of-type {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

._check_047 {
    align-items: center;
    background-color: white;
    border-top: 1px solid #f0f0f0;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 16px 24px;
}

._check_048 {
    flex: 1 1 auto;
}

._check_049 {
    background-color: #fafafa;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}

._check_050 {
    background: #fb641b;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    width: 200px;
}

._check_051 {
    cursor: pointer;
    float: left;
    width: 100%;
}

._check_052 {
    margin-top: 5px;
    /* display: inline-flex;
    flex-wrap: wrap; */
}

._check_053 {
    align-items: center;
    background: #fef7e9;
    border: 0.5px solid #af7b1c;
    border-radius: 3px;
    display: flex;
    margin: 0 auto 12px;
    padding: 8px 12px 8px 8px;
}

._check_054 {
    font-size: 13px;
    line-height: 18px;
}

._check_055 {
    display: flex;
    padding: 26px 20px 18px 50px;
    position: relative;
    width: 100%;
}

._check_056 {
    display: inline-block;
    vertical-align: top;
    width: 41.66%;
}

/* ._check_057 {
    margin-top: 12px;
} */

._check_058 {
    display: inline-block;
    font-size: 14px;
    padding-left: 100px;
    vertical-align: top;
    width: 58.33%;
}

._check_059 {
    padding-left: 0;
}

._check_060 {
    color: #212121;
    list-style: none;
    margin: 16px 0;
}

._check_061 {
    color: #2874f0;
    fill: #2874f0;
    font-size: 17px;
    margin-right: 12px;
    vertical-align: middle;
}

._check_062 {
    margin-bottom: 12px;
}

._check_063 {
    color: #878787;
}

._check_064 {
    font-weight: 500;
    margin-left: 15px;
}

._check_065 {
    color: #2874f0;
    cursor: pointer;
    font-weight: 500;
}

._check_066 {
    color: #878787;
    font-size: 14px;
    padding: 0 20px 18px 50px;
    width: 100%;
}

._check_068 {
    display: none;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    ._check_030 > ._check_031:first-of-type,
    ._check_030 > ._check_031:nth-of-type(5) {
        flex-direction: column;
    }

    ._check_032 {
        margin-bottom: 15px;
        width: 100%;
    }

    ._check_031 {
        margin: 0;
    }

    ._check_030 > ._check_031:first-of-type > ._check_032,
    ._check_030 > ._check_031:nth-of-type(5) > ._check_032 {
        padding-right: 10px;
    }

    ._check_033 {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 900px) {
    ._check_067 {
        display: none;
    }

    ._check_028 {
        width: 100%;
    }

    ._check_015 {
        padding: 8px 12px 6px;
    }

    ._check_068 {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    ._check_030 > ._check_031:nth-of-type(4) {
        flex-direction: column;
    }

    ._check_055,
    ._check_058 {
        display: block;
        width: 100%;
    }

    ._check_058 {
        padding-left: 0;
        padding-top: 12px;
    }
    ._check_055 {
        padding: 20px 20px 0;
    }

    ._check_066 {
        padding: 0 0 18px;
    }

    ._check_059,
    ._check_060 {
        display: flex;
    }

    ._check_056 {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ._check_030 > ._check_031:nth-of-type(4) > ._check_032 {
        padding-right: 10px;
    }
}
