.footer{
    background-color: #172337;
    min-width: 978px;
    border-top: 1px solid #ddd;
    margin-top: 25px;
}
.flex_1 {
    flex: 1;
}

.footerChildTitle{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}

.footerALinks{
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    border: none;
    outline: none;
}

.addressTitle{
    font-size: 12px;
    white-space: nowrap;
    border-left: 1px solid #454d5e;
    padding: 0 25px;
}

.address{
    font-style: normal;
    color: #fff;
    background-color: #172337;
}

.addressMain{
    background-color: #fff;
    font-size: 12px;
}

.addressMainDiv {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-style: normal;
    color: #fff;
    background-color: #172337;
}

.addressMainDiv p {
    margin-bottom: 0;
    padding: 0;
    line-height: 1.5;
}

.secAddress{
    margin-bottom: 10px;
    padding-left: 14px;
    font-size: 12px;
    white-space: nowrap;
}