._nav_001 {
    display: block;
}

._nav_001>div>div {
    border-radius: 0;
}

._nav_002 {
    display: none;
}

._nav_002>div>div {
    border-radius: 0;
}

._nav_003 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}

._nav_004 {
    display: flex;
}

._nav_004>button {
    margin: 0 10px;
}

._nav_005>button:hover {
    background-color: white;
}

._nav_006 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17.32px solid white;

    left: 50%;
    bottom: 100%;
    transform: translate(-14px, 1px);
}

._nav_007 {
    padding: 16px
}

._nav_008 {
    margin: -16px;
}

._nav_009 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 12px;
}

._nav_010 {
    text-transform: none;
    margin-left: 12px;
    font-size: 14px;
    line-height: 18px;
}

._nav_011 {
    background-color: #f0f0f0;
    color: #878787;
    text-align: center;
    font-size: 14px;
    min-width: 32px;
    height: 24px;
    line-height: 16px;
    padding: 3px 3px 0;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #fff;
}



/* ._nav_006::after {
    width: 0;
    height: 0;
    position: absolute;
    border: solid transparent;

} */


a:hover {
    color: #fff;
}

a {
    cursor: pointer;
}

.mainSearchDiv {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.mainSearchDiv::-webkit-scrollbar {
    display: none;
}

.searchDiv {
    overflow: hidden;
    height: 70%;
    background-color: #1976d2
}

.mainBar .css-1lfs2tq-MuiTypography-root {
    letter-spacing: 0;
    font-size: 5.5vw;
}

.bar .css-348fk2.Mui-focused {
    color: rgba(255, 255, 255, 0.859)
}

.bar label,
.bar label:focus {
    color: white
}

.bar .Mui-focused {
    color: #fff;
}

.bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
    font-size: 1.3vw;
}

.bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
    color: white !important;
    font-size: 1.3vw;
}

.bar .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: white;
}

.bar .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
}

/* .searchRes:hover{
    background-color: black;
} */

.searchRes {
    height: 1.6vw;
    font-size: 1.15vw;
    margin: 3% 0;
    padding: 0 5%;
    cursor: pointer;
    overflow: hidden
}


@media only screen and (max-width: 320px) {
    .bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 2.9vw;
    }

    .bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
        font-size: 3.1vw;
    }

    .searchRes {
        font-size: 2.3vw;
        height: 3.1vw;
    }
}

@media only screen and (max-width: 450px) and (min-width: 320px) {
    .bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 2.9vw;
    }

    .bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
        font-size: 3.1vw;
    }

    .searchRes {
        font-size: 2.3vw;
        height: 3.1vw;
    }
}

@media only screen and (max-width: 600px) and (min-width: 450px) {
    .bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 2.9vw;
    }

    .bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
        font-size: 2.6vw;
    }

    .searchRes {
        font-size: 1.8vw;
        height: 2.3vw;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 2.2vw;
    }

    .bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
        font-size: 2.3vw;
    }

    .searchRes {
        font-size: 1.4vw;
        height: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    ._nav_001 {
        display: none;
    }

    ._nav_002 {
        display: block;
        margin-bottom: 10px;
    }

    ._nav_003 {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .bar .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 2vw;
    }

    .bar .css-1rb63tl-MuiInputBase-root-MuiInput-root {
        font-size: 2vw;
    }

    .searchRes {
        font-size: 1.2vw;
        height: 1.6vw;
    }
}