.categoryStyle {
    color: black;
    cursor: pointer;
    font-weight: bold
}

.categoryStyle:hover {
    color: blue;
}

.baseImage:hover {
    transform: scale(1.03);
}

.baseProdDiv {
    border: 1px solid white;
    border-radius: 5px;
    transition: box-shadow .2s ease-in-out;
}

.baseProdDiv:hover {
    /* border-color: black; */
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}