._catList_001 {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: white;
}

._catList_002 {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.059);
    z-index: 900;
}

._catList_003 {
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
}

._catList_004 {
    width: 85%;
}

._catList_005 {
    /* width: 20%; */
    height: fit-content;
    padding: 10px;
    cursor: pointer;
}

._catList_005 span:first-of-type {
    font-size: 12px;
    text-decoration: line-through;
    margin-right: 10px
}

._catListImg {
    aspect-ratio: 1/1;
    padding: 10px;
}

._catList_006 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    padding: 10px;
}

._catList_007 {
    width: 20%;
}

._catList_008 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 10px;
    background-color: rgb(27, 130, 61);
    color: white;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);
}

@media only screen and (max-width: 600px) {
    ._catList_001 {
        display: block;
    }

    ._catList_002 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid #cfcfcf;
    }

    ._catList_006 {
        width: 900px;
        padding: 0;
    }

    ._catList_004 {
        overflow: scroll;
        width: 100%;
    }

    ._catList_004::-webkit-scrollbar {
        display: none;
    }

    ._catList_003 {
        font-size: 3vw;
    }

    ._catList_002 button {
        font-size: 1.55vw;
    }

    ._catListImg {
        padding: 0;
    }

    ._catList_007 {
        border-right: 1px solid #cfcfcf;

    }

    ._catList_005>div:nth-of-type(2) {
        font-size: 2.8vw;
        padding: 5px 0;
    }

    ._catList_005 span:first-of-type {
        margin-right: 5px;
    }

    ._catList_008{
        font-size: 8px;
        background-color: rgb(27, 130, 61);
    }

}

@media only screen and (max-width: 900px) and (min-width: 601px) {
    ._catList_001 {
        display: block;
    }

    ._catList_002 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid #cfcfcf;
    }

    ._catList_006 {
        width: 900px;
        padding: 0;
    }

    ._catList_004 {
        overflow: scroll;
        width: 100%;
    }

    ._catList_004::-webkit-scrollbar {
        display: none;
    }

    ._catList_003 {
        font-size: 3vw;
    }

    ._catList_002 button {
        font-size: 1.55vw;
    }

    ._catListImg {
        padding: 0;
    }

    ._catList_007 {
        border-right: 1px solid #cfcfcf;

    }

    ._catList_005>div:nth-of-type(2) {
        font-size: 1.8vw;
        padding: 5px 0;
    }

    ._catList_005 span:first-of-type {
        margin-right: 5px;
    }

    ._catList_008{
        font-size: 10px;
        background-color: rgb(27, 130, 61);
    }

}