.disFlexJusConCen {
  display: flex;
  justify-content: center;
}

.disFlexJusConEven {
  display: flex;
  justify-content: space-evenly;
}

.disFlexJusItCen{
  display: flex;
  justify-items: center;
}

.disFlexAlignItCen {
  display: flex;
  align-items: center;
}